[Desktop Entry]
Type=Application
Version=1.0
Name=AV
GenericName=Media Player
Comment=Play audio and video files
Icon=medea
Exec=medea %U
TryExec=medea
Terminal=false
Categories=AudioVideo;Player;
StartupNotify=true
StartupWMClass=medea
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/mpeg;video/x-flv;video/3gpp;video/ogg;video/x-ms-wmv;audio/mpeg;audio/flac;audio/x-vorbis+ogg;audio/ogg;audio/x-wav;audio/mp4;audio/aac;audio/opus;audio/x-ms-wma;audio/x-aiff;audio/x-ape;audio/x-musepack;audio/x-wavpack;
